<div class='category'>
<ul class='category-name'>
  <li><%= payment.name %></li>
  <li><%= payment.created_at.strftime("%d %b %Y") %></li>
</ul>
<div class='total'>
  <%= payment.amount %>
</div>
</div>