/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.next {
  border: none;
  background-color: #3471b6;
  color: white;
}

.forgot-password {
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  background-color: #dee0df;
  font-size: small;
  margin-top: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #3471b6;
  margin: 0;
  padding: 0 2rem;
  height: 4rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.user {
  height: 2rem;
  background-color: white;
}

.container {
  background-color: #dee0df;
  height: 100vh;
}

.category {
  background-color: white;
  display: flex;
  margin: 1rem;
  height: 4rem;
  list-style-type: none;
  align-items: center;
  padding: 0 1rem;
}

.category-name {
  margin-left: 1rem;
}

.total {
  margin-left: auto;
}

.btn {
  background-color: #60b524;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category {
  height: 2.5rem;
  width: 92vw;
  border: 1px solid white;
}

.add-category {
  height: 4rem;
  width: 100%;
  border: none;
}

.save-category {
  padding: 8px 20px;
  color: white;
  border: none;
}

.form-category {
  background-color: white;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.116);
}

.form-category > * {
  width: 95vw;
  display: block;
  padding: 0;
  padding-left: 0.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  height: 2.5rem;
  box-sizing: border-box;
  margin: auto;
}

.field {
  display: flex;
  align-items: center;
}
