<% provide(:title, "New Category") %>

<%= form_with(scope: :categories, url: categories_path(@user), method: :post, local: true) do |f| %>

<div class='form-category'>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Category Name" %>
  <div class='icon'><%= f.file_field :icon %></div>
  <%= f.submit "Save", class: 'btn save-category' %>
  <%end%>
</div>
